<h1>Ticket</h1>

<form action="/tickets/form" method="post" class="lg-form">
  <div>
    <label for="description">Description</label>
    <input type="text" name="description" id="description" />
  </div>
  <div>
    <input type="submit" value="Save" />
  </div>
</form>
